.vscode/launch.json

httpResponceStructure
httpreqbackup.txt
.vscode/settings.json
Workspace1.code-workspace
__debug_bin
Feedback/task.md
Feedback/review.md
__debug_bin
src/src.exe
src/goapiscraper.exe
api/goapiscraper.exe
