.vscode/launch.json

httpResponceStructure
httpreqbackup.txt
go.sum
go.mod
.vscode/settings.json
Workspace1.code-workspace
dockerfile
docker-compose.yml
__debug_bin
Feedback/task.md
Feedback/review.md
